$base-font: Inter;
$base-color: #5D5FEF;

.signs_container {
  width: 240px;
  height: 56px;
  padding: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06), 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 12px;
}

.sign {
  width: 52px;
  height: 48px;
  border: 1px solid #E2E3E5;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  font-family: $base-font;
  &:hover{
    border: 2px solid $base-color;
    border-radius: 6px;
    cursor: pointer;
  }
  &:active{
    background: $base-color;
    color: white;
  }
}
